version: '3.8'

services:
  postgres:
    image: postgres
    container_name: office_department_db
    environment:
      POSTGRES_DB: OfficeDepartment
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:



